@charset "utf-8";
/* CSS Document */

*{
    color: black;
}

html{
    font-size: 16px;
}

.h1{
    text-align: center;
}

body{
   background-color: rgb(213, 110, 55);
    font-family: "Alfa Slab One";
    font-size: 30px;
}

p{
    font-size: 1.25rem;
}

.center-img{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.topbar-nav{
    margin: 100px;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .desktop-nav{
        display: none
    }
    mobile-nav{
        display: block
    }
    .two-col-layout{
        flex-direction: column;
    }
}

img{
    max-width: 100%;
    height: auto;
}